@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$primery-body-color: white;
$primery-main-color:#e5fdb8;  
$btn-color:#3189d1;
$btn-text-color: rgb(255, 250, 250);
$output-text-color: rgb(252, 231, 231);
$font-stack: 'Montserrat', sans-serif;