 @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$body-color-lefttop: rgb(201, 236, 255);
$body-color-rightbottom: rgb(251, 253, 245);
$font-stack:"Montserrat", sans-serif;


*, *:after, *:before{
  box-sizing: border-box;
}
html {
  font-family: $font-stack;
  font-size: 100%;  
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  background-image: linear-gradient(
    to bottom right,
    $body-color-lefttop,
    $body-color-rightbottom
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
