@import 'config'; 

*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}
body{
    font-size: 100%;
    font-family: $font-stack;
    background-color: $primery-body-color;
}
.colormode{
    color: $btn-text-color;
    font-weight:bold;
    font-size: 1.2rem;
}

.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px,auto) repeat(5,100px);
    min-height: 100vh;
    
    button{
        font-weight: bold;
        font-size: 1.6rem;
        color: $btn-text-color;
        background-color: $btn-color;
        border: solid 2px $btn-border-color; 
        outline: none;
        cursor: pointer;
    }
    button:hover{
        background-color: $btn-hover-color;
    }
    .two-col{
        grid-column: span 2;
    }
    .output{
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        background-color: $output-background-color;
        padding: 10px;
        color: $output-text-color;
        font-weight: 600;
        .prevOutput{
            font-size: 1.2rem;
        }
        .curOutput{
            font-size: 1.8rem;
        }
    }
}

