@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --body-color-lefttop: rgb(169, 218, 245);
  --body-color-rightbottom: rgb(222, 238, 168);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}
body {
  background-image: linear-gradient(
    to bottom right,
    var(--body-color-lefttop),
    var(--body-color-rightbottom)
  );
  background-repeat: no-repeat;
  background-size: cover;
}
/*Header*/
.top {
  display: grid;
  grid-template-rows: 5em;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 1em;
}
.logo1 {
  grid-area: 1 / 10 / 2 / 11;
  align-self: center;
  justify-self: center;
  font-size: 1.5em;
  margin-right: 1em;
}
.trigger {
  height: 3em;
  width: 3em;
  grid-area: 1 / 11 / 2 / 12;
  align-self: center;
  justify-self: center;
}
.trigger img {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 10vh;
  width: 100vw;
  //background-color: #000000;
  position: absolute;
  top: -100%;
}
li,
a {
  color: rgb(82, 79, 43);
  text-decoration: none;
  list-style: none;
  font-size: 1.2em;
}
.nav-el {
  padding: 1em;
  height: 100%;
}
.nav-el li {
  display: inline-block;
  padding: 0 1em;
  margin: 0.2em 0.5em;
  height: 100%;
  text-align: center;
}
.logo {
  border: solid #000000 1px;
  border-radius: 12px;
  padding: 0.8em;
  margin-left: 1.5em;
  
}

/*Main*/
.text {
  line-height: 1.4em;
  color: rgb(72, 78, 92);
}

main {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: 3;
  margin-top: 8em;
}

main h2 {
  grid-area: 1/ 1 / 2 / 4;
  align-self: center;
  justify-self: center;
  padding: 0.8em;
  margin: 0.8em 0;
}

main {
  padding: 0 1em;
  align-self: center;
  justify-self: center;
}
main p {
  padding: 0 1em;
}
.vline {
  height: 100%;
  background-color: whitesmoke;
}

